<div class="search-result container">
    <% result.data.forEach((element)=> { %>
        <form action="/anime" method="post">
            <input type="hidden" name="animeId" value=<%=element.mal_id %>>
            <button class="rounded" type="submit">
                <img class="rounded" src="<%=element.images.jpg.image_url %>" alt="<%= element.title %>">
                <p>
                    <%= element.title %>
                </p>
            </button>
        </form>
        <% }); %>

</div>