@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

:root {
    --bgcolor: #26355D;
    --subBgColor: #1b2643;
    --compColor: #FFE196;
    --hovercolr: #c3ae78;
}

body {
    background-color: var(--bgcolor);
    color: white;
}

/* header section*/
/* header>title section*/
h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'sigmar one';
    color: var(--compColor);
}

h1>a {
    text-decoration: none;
    color: var(--compColor);
}

h1>a:hover {
    color: var(--hovercolr)
}

/* header>search bar section */
.searchAnime {
    margin: 4rem auto 4rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.searchAnime>input[name="animeSearch"] {
    flex: 0 1 20rem;
    background-color: #fff;
    border: none;
    border-radius: 2rem;
    outline: none;
    color: #646464;
    padding: .8rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    width: 25rem;

}

.searchAnime>input[name="animeSearch"]:focus {
    transition: 500ms;
    color: #fff;
    background-color: var(--subBgColor);
}

.searchAnime>input[name="animeSearch"]:focus::placeholder {
    color: var(--bgcolor);
}

.searchAnime>input[type="submit"] {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--bgcolor);
    flex: 0 1 7rem;
    align-self: stretch;
    background-color: var(--compColor);
    border: none;
    border-radius: 2rem;
}

/* anime content section*/
.anifo>ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}

.info {
    color: var(--compColor);
}

.trailer>.trailer-grid {
    display: grid;
    grid-template: repeat(1, 400px)/ repeat(1, 700px);
    gap: 1rem;
    grid-auto-rows: 400px;
    grid-auto-columns: 700px;
    place-items: stretch;
    justify-content: center;
}

/* search result section */
.search-result {
    display: grid;
    grid-template: repeat(4, max-content)/repeat(4, min-content);
    place-items: stretch;
    place-content: center;
    gap: 2rem;
}
.search-result form{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}
.search-result button{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    background: transparent;
    border: none;
    color: #fff;
}
.search-result button>p:hover{
color: var(--compColor);
}